In [97]:
# import necessary libs
import numpy as np
import pandas as pd
from scipy import optimize
import scipy as sp
import sympy as sy
from datetime import datetime
import matplotlib.pyplot as plt

In [98]:
# Set right font display style
plt.rcParams["font.sans-serif"]=["Times New Roman"]
plt.rcParams["axes.unicode_minus"]=False
# Read file.
# df contains all the data.
df = pd.read_excel('./raw_data.xlsx', header = 1)
df = df[df.columns[1:]]
# display the data
df.head()

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X)
0,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2
1,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1
2,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2
3,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1
4,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3

In [101]:
# data pre-processing
# delete the data which is extremly different from the siblings
## set the sum of the possibility of tries to one.
df = df.sort_values(by='Contest number')
percent = df[df.columns[5:]].sum(axis=1)
for column in df.columns[5:]:
    df[column]=df[column]/percent*100
## counting the word_length of the set.  
df['word_len'] = df['Word'].apply(lambda x:len(x))
df['repeated_num'] = df['Word'].apply(lambda x:len(x) - len(set(x)))
## calculating the hard mode rate.
df['hard_mode_rate'] = df['Number in hard mode']/df['Number of  reported results']
df.head()
## delete the data which rates is extremely high
### delete the length != 5
list1 = []
for i in range(len(df)):
    if df['word_len'][i] != 5:
        list1.append(i)
df.drop(index = list1)

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),word_len,repeated_num,hard_mode_rate
358,2022-01-07,202,slump,80630,1362,0.952228,2.856683,21.901239,37.136883,22.853466,8.570050,0.952228,5,0,0.016892
357,2022-01-08,203,crank,101503,1763,0.952223,4.761117,21.901139,29.518927,22.853362,13.331128,1.904447,5,0,0.017369
356,2022-01-09,204,gorge,91477,1913,0.943210,2.829630,12.261732,25.466674,28.296304,20.750623,3.772841,5,1,0.020912
355,2022-01-10,205,query,107134,2242,0.952191,3.808765,15.235059,28.565735,28.565735,16.187250,1.904382,5,0,0.020927
354,2022-01-11,206,drink,153880,3017,0.942775,8.484979,32.997139,32.054364,15.084406,4.713877,0.942775,5,0,0.019606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022-12-27,556,condo,20879,2012,0.000000,1.885079,16.023169,32.988878,27.333642,13.195551,2.827618,5,1,0.096365
3,2022-12-28,557,impel,20160,1937,0.000000,2.883364,20.183551,38.444859,24.028037,8.650093,0.961121,5,0,0.096081
2,2022-12-29,558,havoc,20001,1919,0.000000,1.903023,15.224184,36.157437,28.545345,11.418138,1.903023,5,0,0.095945
1,2022-12-30,559,molar,21204,1973,0.000000,3.844597,20.184134,36.523670,24.989880,8.650343,0.961149,5,0,0.093048
0,2022-12-31,560,manly,20380,1899,0.000000,1.922296,16.339516,35.562477,27.873292,11.533776,1.922296,5,0,0.093180